In [1]:
import pandas as pd
import os
from pathlib import Path

In [2]:
os.listdir("data/train_set/tree")
data_df = pd.DataFrame(columns=["file_name", "file_path", "class_name", "class_index"])
data_df

Empty DataFrame
Columns: [file_name, file_path, class_name, class_index]
Index: []

In [8]:
data_folder = Path("./data/train_set/")

for idx_i, class_dir in enumerate(data_folder.glob("*")):
    print(class_dir)
    for idx_j, data_file in enumerate(class_dir.glob("*")):
        data_df = pd.concat([pd.DataFrame([[data_file.name, data_file, class_dir, idx_i]], columns=data_df.columns), data_df], ignore_index=True)

data/train_set/tree
data/train_set/sun
data/train_set/fish
data/train_set/bird
data/train_set/flower

In [7]:
data_df

,file_name,file_path,class_name,class_index
0,flower1150,data/train_set/flower/flower1150.png,data/train_set/flower,4
1,flower1141,data/train_set/flower/flower1141.png,data/train_set/flower,4
2,flower215,data/train_set/flower/flower215.png,data/train_set/flower,4
3,flower71,data/train_set/flower/flower71.png,data/train_set/flower,4
4,flower901,data/train_set/flower/flower901.png,data/train_set/flower,4
...,...,...,...,...
11995,tree2,data/train_set/tree/tree2.png,data/train_set/tree,0
11996,tree1966,data/train_set/tree/tree1966.png,data/train_set/tree,0
11997,tree600,data/train_set/tree/tree600.png,data/train_set/tree,0
11998,tree1935,data/train_set/tree/tree1935.png,data/train_set/tree,0
11999,tree1245,data/train_set/tree/tree1245.png,data/train_set/tree,0

In [5]:
def create_classification_csv(file_path: str|Path, name: str):
    if not isinstance(file_path, Path):
        file_path = Path(file_path)
    
    data_df = pd.DataFrame(columns=["file_name", "file_path", "class_name", "class_index"])

    for idx_i, class_dir in enumerate(file_path.glob("*")):
        print(class_dir)
        for idx_j, data_file in enumerate(class_dir.glob("*")):
            data_df = pd.concat([pd.DataFrame([[data_file.name, data_file, class_dir.stem, idx_i]], columns=data_df.columns), data_df], ignore_index=True)
    
    data_df.to_csv(name, index=False)

In [6]:
create_classification_csv("./data/test_set/", "./data/test_data.csv")
create_classification_csv("./data/train_set/", "./data/train_data.csv")

data/test_set/tree
data/test_set/sun
data/test_set/fish
data/test_set/bird
data/test_set/flower
data/train_set/tree
data/train_set/sun
data/train_set/fish
data/train_set/bird
data/train_set/flower